#container {
    display: flex;
    max-width: 280px;
    flex-direction: column;
    align-items: center;  
    font-family: 'Mochiy Pop P One', sans-serif;  
    font-size: 12px;
    text-align: center;
}
.displayed {
    padding : 10px;
}
#imgLogo{
    max-width: 180px;
    padding: 30px;
}